/*
   Reset & Base
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

/*
   Cabeçalho
 */
header {
  background: #6a0dad;
  color: #ff7b00;
  padding: 20px;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

header nav a {
  color: #ff7b00;
  text-decoration: none;
  font-weight: 600;
  transition: opacity 0.3s;
}

header nav a:hover {
  opacity: 0.8;
}

/* 
   Títulos
 */
h1 {
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
  
}

h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

/* 
   Conteúdo Principal
 */
main {
  padding: 50px;
}

section {
  align-items: center;
  max-width: 1000px;
  margin: 20px auto;
  padding: 15px;
}

.all{
  text-align: center;

}

.all img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  background-color: #fff;
  padding: 2px;
  box-shadow: 0 2px 5px #6a0dad;
  border-radius: 15px;
}

.card {
  display: flex; 
  align-items: center; 
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  flex: 1;
  min-width: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card p {
  
  inline-size: 1000px;
  writing-mode: horizontal-tb;
  justify-items: stretch;
}


/* 
  imagens do Projeto
 */


.project {
  width: 250px;
  border-radius: 15px;
  background-color: #fff;
  padding: 2px;
  flex: 1;
  min-width: 250px;
  box-shadow: 0 2px 5px #6a0dad;
}

.projects {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
   Rodapé
 */
footer {
  background-color: #6a0dad;
  color: #ff7b00;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 0.9rem;
}

/* 
   Responsividade
*/

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

